@using X.PagedList;
@using X.PagedList.Mvc.Core
@model IPagedList<HastaneProjesi.Models.Doctor>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Doctor List</h2>
<hr />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Mail</th>
        <th>Clinic ID</th>
        <th>Clinic Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.DoctorID</td>
            <td>@x.DoctorName</td>
            <td>@x.DoctorType</td>
            <td>@x.DoctorDescription</td>
            <td>@x.DoctorEmail</td>
            <td>@x.ClinicID</td>
            <td>@x.Clinic.ClinicName</td>
            
            <td><a href="/Doctor/DoctorDelete/@x.DoctorID" class="btn btn-danger">Delete</a></td>
            <td><a href="#" class="btn btn-success">Update</a></td>
            <td><a href="#" class="btn btn-info">Details</a></td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new{ page}));
<a href="/Doctor/DoctorAdd/" class="btn btn-primary">Add New Doctor</a>

