@model HastaneProjesi.Models.Clinic
@{
    ViewData["Title"] = "ClinicGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clinic Get Page</h2>
<br />
@using (Html.BeginForm("ClinicUpdate", "Clinic", FormMethod.Post))
{
    @Html.LabelFor(x=>x.ClinicID)
    @Html.TextBoxFor(x=>x.ClinicID, new { @class = "form-control" })
    <br />
    <br />
    @Html.LabelFor(x=>x.ClinicName)
    @Html.TextBoxFor(x=>x.ClinicName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ClinicName,"",new { @style="color:red"})
    <br />
    <br />
    @Html.LabelFor(x=>x.ClinicDescription)
    @Html.TextBoxFor(x=>x.ClinicDescription, new { @class = "form-control" })
    <br />
    <br />
    @Html.LabelFor(x=>x.Status)
    @Html.CheckBoxFor(x=>x.Status, new { @class = "form-control" })
    
    <button class="btn btn-info">Save</button>
}